
body {
  text-align: center;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 100;
  padding: 100px;
}

.title, .header {
  font-size: 68px;
  font-weight: 1;
}

.header {
  font-size: 34px;
  padding-top: 40px;
}

a {
  color: black;
}